accelerate==0.25.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.43.3
datasets==2.15.0
deepspeed==0.10.3
dill==0.3.7
einops==0.8.1
frozenlist==1.7.0
fsspec==2023.10.0
hf-xet==1.1.10
hjson==3.1.0
huggingface-hub==0.34.4
joblib==1.5.2
jsonlines==4.0.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.15
ninja==1.13.0
numpy==1.24.3
nvidia-ml-py==13.580.82
pandas==2.0.1
propcache==0.3.2
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyarrow-hotfix==0.7
pydantic==1.10.23
pydantic-core==2.33.2
pytz==2025.2
regex==2025.9.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
threadpoolctl==3.6.0
tokenizers==0.15.2
tqdm==4.67.1
transformers==4.37.2
typing-inspection==0.4.1
tzdata==2025.2
xxhash==3.5.0
yarl==1.20.1